.header {
  background: $color-background;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 42px;
}

.header__navigation {
  padding-right: 5px;
  padding-top: 4px;
  transition: 0.5s linear;
  @include media-mobile {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -600px;
    right: 0;
    background: #ffffffdf;
    padding: 80px 20px 20px 20px;
    width: 100%;
    height: 600px;
  }
}

.header.open .header__navigation {
  @include media-mobile {
    transform: translateY(100%);
    visibility: visible;
    opacity: 1;
    .navigation {
      gap: 50px;
      margin-top: 50px;
    }
    .navigation__link {
      width: 100%;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation__link a {
      font-size: 4rem;
      display: block;
      width: 100%;
    }
  }
}
